// В этом файле работает Даниил
.contacts {
  padding-top: 48px;
  padding-bottom: 48px;
  background-image: linear-gradient(to bottom, #ffffff 25%, #fff5f6 25%);
}

// .address__list {
// font-weight: 500;
// font-size: 12px;
// line-height: 1.86;
// /* or 22px */
//
// }
// h3 {
//   font-size: 12px;
// }

.link {
  color: inherit;
  text-decoration: none;
  padding-left: 0;
  margin-right: 0;
  display: block;
}

.contacts__list {
  @include mq(mobile-only) {
    margin-bottom: 32px;
  }
  @include mq(tablet) {
    display: flex;
    gap: 32px;
    margin-bottom: 60px;
  }
}

.contacts__item {
  margin-bottom: 20px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 45px;
  padding-left: 32px;

  font-weight: 500;
  line-height: 1.86;
  /* or 22px */
  letter-spacing: 0.04em;
  color: $fontGray;

  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @include mq(tablet) {
    width: 224px;
    font-size: 16px;
  }
  @include mq(desktop) {
    width: 393px;
    font-size: 16px;
  }
}

.contacts__item:not(:last-child) {
  @include mq(mobile-only) {
    margin-bottom: 20px;
  }
}
.contacts__address {
  font-style: inherit;
}

.adrress__label {
  display: inline-block;
  margin-bottom: 20px;
  padding: 4px 25px;

  color: $fontWhite;

  /* or 22px */

  // display: flex;
  // align-items: center;
  // text-align: center;

  background-color: #c2e297;
  border-radius: 4px;
}
.address__title {
  color: $fontBlack;
  margin-bottom: 8px;
}

.address__text {
  line-height: 1.5;
  @include mq(tablet) {
    line-height: 1.83;
  }
  margin-bottom: 24px;
  // color: #907e82;
}
.addrees__line {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}

.address__list {
  margin-bottom: 24px;
}

.time-list {
  margin-bottom: 24px;
}
.time-list__item {
  margin-bottom: 8px;
}
.time-list__item:nth-child(2) {
  margin-bottom: 24px;
}

.time-list__text {
  color: $fontBlack;
}

.address-link__link {
  line-height: 1.5;
  @include mq(tablet) {
    line-height: 1.83;
  }
}
.contacts-button__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  @include mq(tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

.button-contacts {
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  text-align: center;

  color: $accentColor;
  background-color: $fontWhite;

  padding: 17px 32px;
}
.contacts-button__item:not(:last-child) {
  margin-bottom: 10px;
  @include mq(tablet) {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

.button-contacts--red {
  color: $fontWhite;
  background-color: $accentColor;
  padding: 17px;
}
