// В этом файле работает Дима Шегельский

.footer {
    background-color: #FFF5F6;
}
.footer-container {
    @include mq(tablet) {
        display: flex;
        justify-content: space-between;
    }
}
.wrapper-title {
    @include mq(tablet-only) {
        margin-bottom: 40px;
    }
}
.footer__title {
    margin-bottom: 16px;

    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    
    color: #FFA5BA;
    @include mq(mobile-only) {
        display: block;
        width: 232px;
    }
    @include mq(tablet-only) {
        width: 340px;
        margin-bottom: 12px;
        font-size: 26px;
        letter-spacing: 0.04em;
    }
    @include mq(desktop) {
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
    }
}

.footer__subtitle {
    font-family: 'Titan One';
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    @include mq(mobile-only){
        display: block;
        width: 200px;
    }

    @include mq(tablet-only){
        font-size: 48px;
        line-height: 1.14;
        width: 340px;
    }
    @include mq(desktop) {
        font-size: 58px;
        letter-spacing: 0.06em;
    }
}

.wrapper-contact {
    @include mq(desktop) {
        margin-bottom: 60px;
    }
}
.social-media {
    margin-bottom: 40px;
    @include mq(mobile-only) {
        margin-top: 40px;
    }
}
.social-media__list{
    display: flex;
    justify-content: flex-end;
}

.social-media__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FEA5BB;
    @include mq(tablet) {
        width: 34px;
        height: 34px;
    }
}
.social-media__link:hover {
    background-color:#D41443;
}

.social-media__item:not(:last-child) {
    margin-right: 28px;
}

.social-media__icon {
    fill: #FFF;
}
.contact {
    margin-bottom: 40px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;
    text-align: right;
    
    color: #000000;

    @include mq(tablet) {
        font-size: 14px;
    }
    @include mq(desktop) {
        font-size: 16px;
    }
}
.contact__link {
    text-decoration: none;
    color: #D41443;
}

.wrapper {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    // text-align: center;
    
    color: #907E82;
    border-top: 1px solid #E1E1E1;
    
}

.rights-reserved {
    display: block;
    text-align: center;
    margin: 8px 0;
    
    @include mq(mobile-only) {
        width: 140px;
        margin: 16px auto 20px;
    }

    
}