// В этом файле работает Дима Гончаров
.herro {
  width: 100%;
  height: 502px;

  background-color: rgb(255, 184, 202);
  overflow: hidden;
  @include mq(tablet) {
    height: 100%;
  }
}
.herro__container {
  position: relative;
  @include mq(tablet) {
    height: 416px;
  }
}
.title-container {
  display: inline-block;
  position: relative;
  z-index: 3;
  padding-top: 194px;

  @include mq(tablet) {
    padding-top: 102px;
  }
}
.herro__title {
  width: 218px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  text-align: left;
  letter-spacing: 0.04em;
  color: $fontWhite;
  text-transform: uppercase;
  margin-bottom: 20px;

  @include mq(tablet) {
    width: 162px;
    font-size: 22px;
  }
}
.herro__text {
  font-family: Titan One;
  font-size: 48px;
  font-weight: 400;
  line-height: 0.96;
  text-align: left;
  color: $accentColor;

  @include mq(tablet) {
    font-size: 34px;
  }
}
.herro__first-btn {
  display: inline-block;
  padding: 7px 14px;
  color: #fff;
  background-color: $accentColor;
  border: none;
  border-radius: 20px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
}
.herro__second-btn {
  display: inline-block;
  padding: 7px 14px;
  color: $accentColor;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  font-family: 'DM Sans';
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  margin-left: 8px;
}

.herro__img {
  position: absolute;
  top: 92px;
  right: 32px;
  z-index: 2;
  @include mq(tablet) {
    width: 143px;
    height: 336px;

    top: 65px;
    right: 303px;
  }
}
.ice-cream__background {
  position: absolute;
  display: inline-block;
  top: 83px;
  right: -62px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: rgba(255, 165, 186, 1);
  z-index: 1;

  @include mq(tablet) {
    width: 335px;
    height: 333px;
    right: 185px;
    top: 43px;
  }
}

.herro__milk {
  display: none;

  @include mq(tablet) {
    display: block;
    margin-top: 20px;
    position: relative;
    top: 20px;
  }
}
.milk-container {
  display: none;

  @include mq(tablet) {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 184px;
    bottom: 56px;
    z-index: 3;
  }
}
.milk__text {
  width: 114px;
  height: 48px;
  font-family: 'DM Sans';
  font-size: 8px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #fff;
}
.milk__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  fill: $accentColor;
}
.herro__woman {
  position: absolute;
  right: 32px;
  bottom: -7px;
  z-index: 3;
}
.number-text {
  font-family: Titan One;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.04em;
  color: $accentColor;
}
.number-container {
  position: relative;
  top: 94px;
  right: 42px;
}
