<!-- В этом файле работает Дима Олейник -->
<section class="gallery">
    <div class="contanier">
        <h2 class="visually-hidden">Photos-plate</h2>
        <picture>
            <source srcset="/images/photo-plate/gallery-mob.jpg 1x, /images/photo-plate/gallery-mob2x.jpg 2x">
            <source srcset="/images/photo-plate/gallery-tab.jpg 1x, /images/photo-plate/gallery-tab2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="/images/photo-plate/gallery-desc.jpg 1x, /images/photo-plate/gallery-desc2x.jpg 2x" media="(min-width: 1200px)">
            <img src="/images/photo-plate/gallery-mob.jpg" alt="ice-creams">
        </picture>
    </div>
</section>