<!-- В этом файле работает Дима Олейник -->
<section class="gallery">
    <div class="container gallery__container">
        <h2 class="visually-hidden gallery__title">Photos-plate</h2>
        <!-- <picture>
            <source srcset="/images/photo-plate/gallery-mob.jpg 1x, /images/photo-plate/gallery-mob2x.jpg 2x">
            <source srcset="/images/photo-plate/gallery-tab.jpg 1x, /images/photo-plate/gallery-tab2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="/images/photo-plate/gallery-desc.jpg 1x, /images/photo-plate/gallery-desc2x.jpg 2x" media="(min-width: 1200px)">
            <img src="/images/photo-plate/gallery-mob.jpg" alt="ice-creams">
        </picture> -->
        <div class="gallery__list">
            <div class=" gallery__img-1"><img  class="gallery__img"src="/images/photo-plate/png/gallery-img1.png" alt="" width="40" height="40"></div>
            <div class="gallery__box gallery__img-2-3">
                <img class="gallery__img" src="/images/photo-plate/png/gallery-img2.png" alt="" width="40" height="40">
                <img class="gallery__img" src="/images/photo-plate/png/gallery-img3.png" alt="" width="40" height="40"></div>
            <div class="gallery__box gallery__img-4-5">
                <img class="gallery__img" src="/images/photo-plate/png/gallery-img4.png" alt="" width="80" height="80">
                <img class="gallery__img" src="/images/photo-plate/png/gallery-img5.png" alt="" width="40" height="40">
            </div>
            <div class="gallery__box gallery__img-6-7">
                <img class="gallery__img" src="/images/photo-plate/png/gallery-img6.png" alt="" width="40" height="40">
                <img class="gallery__img" src="/images/photo-plate/png/gallery-img7.png" alt="" width="40" height="40">
            </div>
            <div class="gallery__box gallery__img-8-9">
                <img class="gallery__img" src="/images/photo-plate/png/gallery-img8.png" alt="" width="40" height="40">
                <img class="gallery__img" src="/images/photo-plate/png/gallery-img9.png" alt="" width="40" height="40">
            </div>
            <div class="gallery_img-10"><img class="gallery__img" src="/images/photo-plate/png/gallery-img10.png" alt="" width="40" height="40"></div>
            
        </div>

    </div>
</section>