<!-- В этом файле работает София -->
    <section class="products">
        <div class="container">
            <p class="products-text">100% natural</p>
            <h2 class="products-name">products</h2>
        <div class="products__choice">
            <ul class="products__ice">
                <li class="products__ice-cream__background">
                    <h2 class="ice-cream">ice cream</h2>
                    <p class="ice-cream__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                </li>
                <li class="products__ice-coffee__background">
                    <h2 class="ice-coffee">ice coffee</h2>
                    <p class="ice-cream__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                </li>
                <li class="products__milkshakes__background">
                    <h2 class="ice-milkshakes">milkshakes</h2>
                    <p class="ice-cream__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                </li>
            </ul>
        </div>
        </div>
    </section>