<!-- В этом файле работает София -->
    <section class="products">
        <div class="container">
            <p class="products-text">100% natural</p>
            <h2 class="products-name">products</h2>
        <div class="products__choice">
            <ul class="products__ice">
                <div class="ice-cream-img">
                    <img srcset="/images/products/ice-cream.png">
                </div>
                <li class="products__ice-cream__background">
                    <h2 class="ice-cream">ice cream</h2>
                    <p class="ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <div class="ice-img">
                        <img srcset="/images/products/next.png"></img>
                        </div>
                </li>
                <div class="ice-cream-img">
                    <img srcset="/images/products/ice-coffee.png">
                </div>
                <li class="products__ice-coffee__background">
                    <h2 class="ice-coffee">ice coffee</h2>
                    <p class="ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <div class="ice-img">
                        <img srcset="/images/products/next.png"></img>
                    </div>
                </li>
                <div class="ice-cream-img">
                    <img srcset="/images/products/milkshakes.png">
                </div>
                <li class="products__milkshakes__background">
                    <h2 class="milkshakes">milkshakes</h2>
                    <p class="ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <div class="ice-img">
                        <img srcset="/images/products/next.png"></img>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </section>