<!-- В этом файле работает София -->
    <section class="products">
        <div class="container">
            <p class="products-text">100% natural</p>
            <h2 class="products-name">products</h2>
            <ul class="products-card-list">
                <li class="products-card-list__item">
                    <div class="products-card-list__color-box products-card-list__color-box--red">
                        <img class="card-top-img" srcset="/images/products/ice-cream.png">
                        <h3 class="card__title">ice cream</h3>
                        <button type="button" class="card-points">
                            <div class="card-points__point"></div>
                            <div class="card-points__point"></div>
                            <div class="card-points__point"></div>
                        </button>
                        <p class="card__text card__text--mobal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                        <p class="card__text card__text--desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <button type="button" class="card__rotate-button">
                            <svg width="15" height="15">
                                <use href="/images/icons.svg#icon-arrow2"></use>
                            </svg>
                        </button>
                    </div>
                </li>
                <li class="products-card-list__item">
                    <div class="products-card-list__color-box products-card-list__color-box--orange"> 
                        <img class="card-top-img" srcset="/images/products/ice-coffee.png">
                        <h3 class="card__title">ice coffee</h3>
                        <button type="button" class="card-points">
                            <div class="card-points__point"></div>
                            <div class="card-points__point"></div>
                            <div class="card-points__point"></div>
                        </button>
                        <p class="card__text card__text--mobal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                        <p class="card__text card__text--desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <button type="button" class="card__rotate-button">
                            <svg width="15" height="15">
                                <use href="/images/icons.svg#icon-arrow2"></use>
                            </svg>
                        </button>
                    </div>
                </li>
                <li class="products-card-list__item">
                    <div class="products-card-list__color-box products-card-list__color-box--green"> 
                        <img class="card-top-img" srcset="/images/products/milkshakes.png">
                        <h3 class="card__title">milkshakes</h3>
                        <button type="button" class="card-points">
                            <div class="card-points__point"></div>
                            <div class="card-points__point"></div>
                            <div class="card-points__point"></div>
                        </button>
                        <p class="card__text card__text--mobal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                        <p class="card__text card__text--desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <button type="button" class="card__rotate-button">
                            <svg width="15" height="15">
                                <use href="/images/icons.svg#icon-arrow2"></use>
                            </svg>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </section>